<html>
  <head>
    <title>Dasara Narrative</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/theme.css">
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="//underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="//backbonejs.org/backbone-min.js"></script>
    <!-- <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#intro">DASARA</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li for="chapter1"><a href="#chapter1" data-toggle="tooltip" title="" data-original-title="Chapter One" >Tradition & History</a></li>
            <li for="chapter2"><a href="#chapter2" data-toggle="tooltip" title="" data-original-title="Chapter Two" >Hampi Royal Dasara</a></li>
            <li for="chapter3"><a href="#chapter3" data-toggle="tooltip" title="" data-original-title="Chapter Three" >Mysooru Royal Dasara</a></li>
            <li for="chapter4"><a href="#chapter4" data-toggle="tooltip" title="" data-original-title="Chapter Four" >Hampi Village Dasara</a></li>
            <li for="contact"><a href="#contact">Contact</a></li>
            <li for="about" class="aboutRestory" data-toggle="tooltip" title="" data-original-title="About Re-story" ><a href="#about" data-toggle="modal" data-target="#aboutModal" style="margin-top: -9px;" >About</a></li>
          </ul>
         
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="main container-fluid" >


      <section class=" jumbotron row" id="intro">
        <div class=" col-md-8 col-lg-8 col-xs-8 col-sm-8">
          <p class="lead">
            Festivals and celebrations have an important role in the indian
            culture and it's heritage. Most indian festivals have it's roots in
            religious disciplines incorporating social and cultural heritage.

            Dasara ritual is a forte of the followers of Shakthi tradition, who
            believe in feminine or godess worship, as a symbol of the good prevailing over evil and
            hence the protection of all life.  All over India, we can see the
            celebration of Dasara in it's variations, proving it to be a
            national festival of unity and showcasing it's evolution in
            diversity.</p>
          <div class="button">
            <a  class="btn btn-lg btn-default" href="#chapter1">Scroll Down!</a>
          </div>
        </div>
    </section>



      <section class="chapter row" id="chapter1">
      <div class="wrap  ">
        <h2>Tradition & History</h2>
        <h3></h3>
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
        <p> Dasara is derived from Sanskrit, and literally means 10("Dasa")
        days("ahar"). So, this is a celebration of 10 days, and the 10th day is
        Dasara.

        Other names prevailent for the festival are Dussehra(in northern
        India), Durga Pooja (in Eastern India), Durgotsava, navaratri, and so
        on..</p>
        <p>It seems that during its early inception Dasara was an all night
        event with offerings to Godessess and other poojas. Hence this festival
        was also called as nine("nava") nights("ratri"). As time passed, and
        people evolved into urban lifestyles, the late night offerings and
        pooja became a day event which can still be seen followed
        similarly.</p>

        <p>Dasara is celebrated in two parts, the first nine days is one part
        of the festivity, and the 10th day or the day of Victory, is the second
        and the last part of the celebrations.</p>



          <p>  The days of celebration is chosen through the Lunar calendar, Month of
        Ashwayuja(gregorian months of Sep-Oct, from 2nd day of waxing moon till
        the 10th day.

        This entire 10 day festivity is commonly called Dasara, than just
        indicating the 10th day of celebrations.</p>

        <p>All over India, the feminine Godess Durga and her other forms of
        incarnation like Lakshmi (Godess for economy), Saraswathi (Godess for
        Wisdom), and so on..</p></div>

        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
        <p>This tradition of female diety worship is followed since Vedic
        times, Rig Veda suggest that the Hindu's belief in the feminine diety
        was in favour of considering her as the all prevading energy of the
        universe, and all life and gods as we perceive have come out of this
        Mother, The Mother of all known and knowing.</p>

        <p>We can see the mentioning of Dasara and diety worshipping since the
        times of Ramayana and Mahabharata. Apart from that historians have
        found that Devagiri's Yadavas, Hoysalas, Warangal's Kakateeyas
        celebrated Navaratri in accordance to the afore mentioned Vedic
        traditions.</p>


        <p>A Bronze statue of mother Durga in form of Mahisasura-mardini
        (lit. The killer of buffalo headed demon) was found from Shimoga
        District in Karnataka and is believed to be from 5th Century. Looking
        at all this historic evidence and other cultural texts, we can put
        forth this argument that female diety worshipping has been a long lived
        tradition as part of indian culture, and a rough estimate that these
        celebrations have survived time scales of about 2000 years.</p>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 tradition" >

        <p>The tradition and history of royal Dasara can be traced back to the
        Vijayanagara empire [1336 A.D-1646 A.D]. Keen on protecting the Hindu
        religion and culture from destruction by Muslim invaders, laid great
        emphasis on the restoration of temples and religious festivals during
        their reign. During the period of Proudaraya and Deva Raya or Krishna
        Deva Raya of the Vijayanagara empire, The Navaratri festival started
        receiving royal patronage, and it acquired the status of a state
        festival. It was celebrated with great pomp, enthusiasm and fervor, and
        attracted visitors from many part of the country and even
        abroad. Political, administrative, religious and social significance
        with the appreciation of the laity added to its grandeur.</p>

        <p>The Mysore Kingdom was a small feudatory Kingdom under the
        Vijayanagara Empire. With the fall of Vijayanagara Empire, The Mysore
        kings, the Wodeyars inherited and perpetuated the traditions of
        Vijayanagara Empire thus showing their goodwill to the fallen Empire
        and it's great Men.

        </p>
      </div>
      </div>
 </section>
     
      <section class="chapter row" id="chapter2">
      <div class="wrap col-md-4 col-lg-4 col-xs-4 col-sm-4">
        <h2>Hampi Royal Dasara</h2>
        <h3></h3>
        <p> The most significant history of Dasara is it's relation to the
        Vijayanagara Dynasty. The historians have detailed about the
        Vijayadashami tradition in this region, and we can see that though
        empires have fallen, but the rituals and traditions haven't died. These
        human ideas are exquisite human expressions, which has spread across
        the society, lived, propogated like a living organism, and still
        evolving in the modern day society.</p></div>

      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 ">
        <img src="./img/procession-hampi.gif" style="width:100%;"/>
      </div>

 <div class="wrap col-md-4 col-lg-4 col-xs-4 col-sm-4">
          <p>Dasara was celeberated with great religious importance, devout and
            passion since the Vijayanagara times. Hampi's Mahanavami Dibba and
            Hazara Rama Temple is the living witness of a glorious past.</p>



          <p>All along the side walls of the Mahanavami Dibba, we can find
            sculptures of wrestlers (Garadi or kushti), hunters, horse traders,
            Camel traders, Gymnasts, other Street acts, jugglers, conjurors and
            illusionists, dancers, instrumentalists, singers, kings, door
            attendants, army chieftains, are speaking of the time begone, and
            great majesty of the Dasara celebrations.</P>


        <div id="38"></div>

          <p>Hazara Rama being the most important diety of the Royal family of
            Vijayanagara, we can see that the temple was built attached close to
            the palace complex. This temple also has beautifully designed
            sculptures of Bhagawata, Mahabharata and Ramayana stories.



            The outer walls of the temple, meaning the walls to east, north and
            west, have sculptures of elephant rows, horse rows, camel rows,
            army knight team, army bishop team, army rooke team, swords and
            other short range weapons team, and long range weapons team like
            the bows and arrows and other depictions of the then defence
            system.

            Apart from that folk artists like, kolata, dombaraata, wrestlers and
            gymnasts, okali aata, instrumental artists playing shenai and other
            musical instruments, bharatanatya dancers, street dancers, monkey
            charmers and various other artists and performers from different
            parts of the kingdom and around.
            <div id="36"></div>

            This shows that, all the artists, the royal defence and other
            people involving all hierarchies of the then living society was
            religiously involved with the celbrations and processions is
            documented by Foreign travellers travelogues around the world.</p>
        <div id="37"></div>

          <p>Bharatesha Vaibhava, a great piece of literature from
            RatnakaraVarni cites the Dasara celebration from the 14th-15th
            century A.D in it's chapter Mahanavami Sandhu.</p>

          <p>If all this is the preserved historic evidence of a bygone time,
            another side of the story is the survival of these traditions amongst
            the local culture and society for whom still Mahanavami is the most
            important annual festival.</p>



          <p>Mahanavami, Dasara, Navaratri, Banni Habba, Hiriyara Habba are the
            synonyms for Dasara in Hampi region where this tradition is found to
            be followed even before the Vijayanagra kings.

            Foreign travellers who visited this region during the Vijayangara
            period have published their travelogues add to this available
            evidences and most important of them will be Abdur Razzak, Domingo
            Paes and Nuniz ...



            Nuniz's description of Common folk's dasara..

            Their writings made references to the ‘great feast’ celebrated for
            nine days in what is inferred to be Dasara; the wrestling
            competitions, the musicians and dancers entertaining the court, the
            march of the caparisoned elephants, decorated horses, foot soldiers
            and the tableaux.


          </p>


        </div>
      </section>


      <section class="chapter row" id="chapter3">
      <div class="wrap col-md-4 col-lg-4 col-xs-4 col-sm-4">
        <h2>Mysooru Royal Dasara</h2>
        <h3></h3>
        <h3></h3>
        <p>The divine mother Durga would be worshiped on all these nine days of
        Navaratri in her different forms as believed in the Hindu tradition.
        On the first day, the king, after having a ceremonial bath, would
        perform purificatory rites. He would then worship his family deity,
        goddess Chamundi, and would wear the ceremonial, sacred wrist - band
        which signified his intention to perform the sacred rituals with
        devotion and dedication.</p></div>
  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 ">
        <img src="./img/mysore3.gif" style="width:100%;"/>
      </div>
<div class="wrap col-md-4 col-lg-4 col-xs-4 col-sm-4">
        <div id="30"></div>

        <p> He would then enter the durbar with the accompaniment of sacred
        chants and music. The tradition of the durbar, an adoption from the
        Mugal emperors, was first introduced by Mummadi[lit. The Third]
        Krishnaraja Wadiyar, and it is an assembly of the royal court, attended
        by the invitees, chief citizens, members of the royal family, palace
        officials, royal priests, and the intelligentsia.



        He would also worship the throne as per the ancient injunctions. He
        would then circumambulate the throne thrice and ascend it at an
        auspicious moment. Later royal insignia and sword were presented to him
        amid prayers to the goddess. At that moment all the lights in the
        palace would come alive, and there would be the royal 21- gun
        salute.</p>



        <p>After this the king would sit on the throne and receive royal
        guests. Soon after this, the royal elephant and horse would receive
        ablutions and worship. The court would present the king with the
        offerings received from various temples and religious centers
        (mathas). This was followed by Vedic chants, sprinkling of holy waters
        and blessings by the royal priests. The vassal kings [or feudatory],
        dewans, army chiefs and other royal staff would come and offer their
        respects to the throne in earlier times. Musical instruments would
        start an ensemble accompanied by dance performance, and the blowing of
        conch es and trumpets with the parade of uniformed soldiers and other
        staff.</p>



        <p>The beautifully decorated royal elephant would arrive showering
        roses on the assembled guests; and the royal horse, equally well -
        decorated, would bend down on its knees in salutation to the
        throne. The assembly would leave the court after bowing down to the
        king once again and the queen, accompanied by the other royal ladies,
        would come to pay obeisance to the king who would share the offerings
        received from the temples with them. The queen mother and the other
        senior ladies would bless him good health. The king would then leave
        the durbar hall and partake of the noon meal with the royal guests,
        after praying to the Goddess once again.</p>



        <p>The same procedure would be followed on all the Navaratri evenings
        with the addition of acrobatic feats, wrestling bouts by champions,
        fireworks display and other entertainment’s, watched by the teeming
        masses everyday. While the durbar would be held in the outer court the
        worship would be done within the palace. The king would worship Goddess
        Sarasvati on the seventh day and Mahisasuramardini on the eighth. On
        the mahanavami day, the royal sword would be worshiped ceremoniously,
        signifying the worship of all the weapons and would be taken out in
        procession accompanied by the army, elephants, horses, camels and the
        royal retinue.

        The assembly rooms of the palace and the royal insignia would also be worshiped.</p>

        <h2> Banni Pooje </h2>
        <div id="31"></div>
        <h3></h3>

        <p>The beautifully decorated royal elephant would arrive showering
          roses on the assembled guests; and the royal horse, equally well -
          decorated, would bend down on its knees in salutation to the
          throne. The assembly would leave the court after bowing down to the
          king once again and the queen, accompanied by the other royal ladies,
          would come to pay obeisance to the king who would share the offerings
          received from the temples with them. The queen mother and the other
          senior ladies would bless him good health. The king would then leave
          the durbar hall and partake of the noon meal with the royal guests,
          after praying to the Goddess once again.</p>



          <p>The same procedure would be followed on all the Navaratri evenings
            with the addition of acrobatic feats, wrestling bouts by champions,
            fireworks display and other entertainment’s, watched by the teeming
            masses everyday. While the durbar would be held in the outer court
            the worship would be done within the palace. The king would worship
            goddess Sarasvati on the seventh day and Mahisasuramardini on the
            eighth. On the mahanavami day, the royal sword would be worshiped
            ceremoniously, signifying the worship of all the weapons and would
            be taken out in procession accompanied by the army, elephants,
            horses, camels and the royal retinue.

            <div id="30"></div>

            The assembly rooms of the palace and the royal insignia would also
            be worshiped.</p>

            <h2> Jambu Savari </h2>
          <p>The Navaratri celebrations would reach their culmination with the
            grandest Vijayadasami celebrations, also called in popular parlance as
            Jambu Savari. The grandeur and magnificence of this event has
            popularized the Navaratri celebrations of Mysore both in India and
            abroad. On this day, after ablutions, the king would worship the royal
            sword again and place it in a palanquin, would offer an ash gourd
            smeared with vermilion as sacrifice to it. He would follow the grand
            procession, seated on the historically famous golden howdah bedecked
            with the rarest gems and pearls, which was carried by the royal
            elephant.
          <div id="29" ></div>

            The next day, after the goddess Chamundeshvari would be worshiped with
            great devotion, the king would honor distinguished personalities by
            conferring titles on them. That would mark the close of the grand
            ten - day - long celebrations during the days of the kings.

            The beginning of the traditional Vijayadasami procession, which is
            continued even today with the same - if not more - fervor and
            devotion, would be announced with a 21- round gun salute. The
            important streets of Mysore city would be decorated beautifully
            with electric bulbs. Millions of people from everywhere would stand
            on both sides of the route - as they do today also - to witness the
            grand procession.</p>




        </div>
      </section>



      <section class="chapter row" id="chapter4">


      <div class="wrap col-md-4 col-lg-4 col-xs-4 col-sm-4">
        <h2 style="z-index:1">Village Dasara</h2>
        <h3>Devaraguddada Dasara</h3>
        <p>Devaragudda is a holy place in Uttara Karnataka's RaniBennur Taluk,
        and the Mailara temples in this region have a interesting way of
        celebrating Dasara.</p>

          <p>The beginning is marked by the first day on which the entire
            community visits the temples, the dieties from the temple are taken
            out on a procession along with the Bows and arrows and other tools of
            war and utility.during this processions there is a lot of folk
            performances of Music, dance and other street shows. Another unique
            part of the celebrations is that the local muslim community also
            participates in the celebrations and rituals with same dedication and
            fervor.These rituals will be held every day of Dasara.</p></div>
      <section class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">

<img src="./img/Banni.png" style="width:100%;"/>



      </section>

 <div class="wrap col-md-4 col-lg-4 col-xs-4 col-sm-4">
        <p>Common people’s Dassara used to start two days prior to Royal
          Dassara. The king along with his family used to participate in the
          common people’s dassara. <i>This Dassara was celebrated towards the
          west from the kingdom at a distance of 5-6 forlong as recorded in
          Nunij’s
          travelogue</i><cite><a href="http://www.gutenberg.org/cache/epub/3310/pg3310.html">[0]</a></cite>. This
          has been verified, common people’s dassara was celebrated in Gudi
          hobbalapura which is located on the bank of Tungabhadra river which
          is located to the west of Mahanavami Dibba, Hampi. This dassara is
          still alive in these regions.</p>
        <div id="35" ></div>

        <p>Present day Dharamaragudda or Kallaghata (Devaramala) still observes
          common people’s dassara. This Dassara brings the villagers from surrounding
          regions of Hampi. Pastoralists and farmers can be seen participating along with
          their deities. </p>

        <p>The first day of Vijayadashami, people assemble by the bank of the
        river Tungabhadra at Devaramala. From here they take the deities to
        have a dip in the holy water and then wrap the deities in new
        clothes. The deities are then carried to Banni tree. This tree is
        called “Devara banni”. People take the leaves of this tree and they
        distribute it in their village. This ritual spreads the message of
        equality. In accordance with this ritual a complete 9 days of programme
        has been documented.</p>
        <div id="34" ></div>

        <p>The dieties from the temple are taken out on a procession along
         with the Bows and arrows and other tools of war and utility. During
         this processions there is a lot of folk performances of music, dance
         and other street shows. Another unique part of the celebrations is
         that the local muslim community also participates in the celebrations
         and rituals with same dedication and fervor. These rituals will be held
         every day of Dasara.</p>



        <p>Surrounding Hampi, in the left bank of Tungabhadra there is another
        major deity, called Durgamma temple which is located in Anne
        Gundi. Here also dassara festival of common people is followed.</p>

</div>
      </section>

<section class="chapter row" id="contact">
  <h2>Contact</h2>
<hr style="width:400px;"/>
<p><strong>Dr Chaluvaraju</strong><br />

<strong>Associate Professor</strong><br />

Dept of Tribal studies,

Kannada University, Hampi.<br />

Mobile Number: +91 9480353091<br />

Email: chaluvaraju.hampi@gmail.com <br />

Website:<a href="http://chaha.in/"> Chaluvaraju's Hampi Website</a></p>
<hr />
</section>

<section class="" id="about">
<div class="modal fade" id="aboutModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
<h2> Restory </h2>
<hr style="width:400px;"/>
    
<p>Mankind's early effort to preserve and pass information over
generations and across communities was achieved through telling and
re-telling of stories through mediums like paintings, sculptures,
songs, dance, oral narratives and others. We seek to support
such story telling efforts (re-stories) by leveraging social
networking and the Web.</p>

<p>The Dasara narrative is our first version of Restory, where we are
illustrating Dr. Chaluvaraju's projection of Dasara Festival, and we
start with his oral narrative.
The narrative is then converted to text, and thus starts our journey
to restorify this narrative into Visual narrative. Online material
such as images, videos, animations, etc., can be annotated and used in
a story conext.</p>

<p>For our first version, we are using annotation information of images
and text that are available in a store of messages that link the web
data ( <a href="http://digitalhampi.swtr.in">digitalhampi.swtr.in</a> ). The images required for the narrative
is tagged appropriately.
Example: the pictures displayed in Mysooru Dasara section of this Re-story is tagged as Chaha,
Dasara, Mysore, Royal, name of ritual. The annotated source can be
queried with different parameters like, ID, User, Tags and more
configurable options.</p>

<p>you can visit <a href="http://restory.swtr.us">restory.swtr.us</a> to see images related to this story,
tagged by users. Annotate and explore the inter-connections that
surface from this story. You will also be able to restory and create
your own version of the story. </p>
<p>If this has kindled your imagination, or you have questions on how to create your own restory? and for more...
contact at vijayanagara@janastu.org
 </p>
	
</p>

      </div>
      <div class="modal-footer">

        <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</section>

<div class="footer">
<div class=container>
&#0169 Copyright 2014
</div>
</div>

<script type="text/template" id="story-image-template">
  <div class="row">
    <!-- <a href='#' data-toggle="modal" data-target="#lightbox"> -->
      <img src=<%= where %> data-toggle="modal" data-target="#lightbox" class="story-image img-responsive pull-right" target-id=<%= id %>></img>
    <!-- </a> -->
    <!-- <div class="hidden col-md-3" for=<%= id %>> -->
    <div class="snipit col-md-12 pull-left">
      <% if(how.comment) { %>
        <p><span><b><%= who %></b> <em>says</em> <q><%= how.comment %></q> </span></p>
      <% } else { %>
      <p><span>No comments!!</span></p>
      <% } %>
    </div>
    <div class="info-icon col-md-12"><span class="glyphicon glyphicon-th-list pull-right"></span><div>
    <!-- </div> -->
  </div>
</script>
<script type="text/template" id="swt-template">
  <p><span><%= who %> has annotated <a href=<%= where %>>this</a> image.</span></p>
  <p>Tags: <b> <%= how.tags %> </b> </p>
  <a href=<%= annotate %> >Annotate!</a>
  <a class="pull-right" href=<%= explore %>>Explore</a>
</script>
<div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="modal-content">
      <div class="modal-body">
        <img src="" alt="" />
        <div id="modal-content"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/story.js"></script>
</body>
</html>
